

#options {
    list-style-type: none;
    background-color: aqua;
    display: none;
    flex-wrap: wrap;
    
}

#options button {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    
}
#options li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .25em;
    min-width: 48%;
}

#ulOfHS {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

#ulOfHS li {
    display: flex;
    background-color: firebrick;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: .25em 12em;
    padding: .25em;
    min-width: 48%;
    font-size: 2em;
}

#play, #highScoreBtn {
    font-size: 2em;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 2em;
}

#question {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 2em;
}

header {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1, h2{
    font-weight: bold;
}